// Base Styles //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  // background: url(../img/x-large1.jpg) no-repeat center center fixed;
  background-color: rgba(211, 211, 211, 0.8);
  background-size: cover;
}

// Grid //

.grid-container {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 90vh auto auto auto auto auto;
}

// ! Working on placing grid items into their rows, ive only done row two
// !
// !
// !
// !
// !
// !
// !
// !

.head-top {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  background-color: rgb(211, 211, 211);
}

header {
  position: sticky;
  top: 0;
  grid-row: 1;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 30px;
  }
}

.title {
  font-size: 0.7em;
  width: auto;
  margin-left: auto;
  margin-right: 25px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  // border: 2px solid black;
  margin-right: 15px;
}

.menu-btn-burger {
  width: 18.75px;
  height: 2px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 18.75px;
  height: 2px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-6px);
}

.menu-btn-burger::after {
  transform: translateY(6px);
}

.menu-btn.open .menu-btn-burger {
  transform: translateX(-15px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(10.5px, -10.5px);
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(10.5px, 10.5px);
}

.nav-container {
  display: none;
}
// ! Must make multiple breakpoints for this window
.headboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 2;
  background: url(../img/x-large1.jpg) no-repeat center center fixed;
  background-size: cover;
  color: coral;
  font-size: 6em;
  font-family: 'Michroma', sans-serif;
}
.down-arrow {
  transform: translateY(210px);
}

.nav-container,
.about,
.portfolio,
.contact-form,
.contact-resources,
.footer {
  background-color: rgba(211, 211, 211, 0.8);
}

.about {
  grid-row: 3;
}

.portfolio {
  grid-row: 4;
}

.contact-form {
  grid-row: 5;
}

.contact-resources {
  grid-row: 6;
}
.footer {
  grid-row: 7;
}

@media (min-width: 640px) {
}
