// Variables //
$-font-titles: 'DM Mono', monospace;
$-font-titles-color: rgba(102, 101, 101, 0.8);
$-font-text: 'Dosis', sans-serif;
$-font-text-color: rgba(102, 101, 101, 0.6);
$-font-arrow: 'Michroma', sans-serif;

$-background-color: rgb(211, 211, 211);
$-arrow-color: rgb(255, 101, 47);
$-arrow-color-hover: rgba(69, 93, 129, 0.966);

$-box-shadow-color: rgba(255, 101, 47, 0.2);

$-button-social-color: rgb(133, 187, 187);
