// Media Queries

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 90vh auto auto auto auto auto;
    grid-template-areas:
      'header header'
      'headboard headboard'
      'about about'
      'portfolio portfolio'
      'contact-form hidden'
      'contact-resources contact-resources'
      'footer footer';
  }
  .hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    p {
      width: 66%;
    }
  }
  .contact-resources {
    flex-direction: row;
    p {
      margin-right: 20px;
      margin-left: 0;
    }

    svg {
      margin-right: 5px;
    }
  }
}
.linkedin {
  p {
    margin-right: 0;
  }
}
.twitter {
  svg {
    margin-right: 0;
  }
}

@media (min-width: 924px) {
  header {
    font-size: 1.7em;
    .logo {
      transform: scale(1.5);
      margin-left: 25px;
    }
  }

  .menu-btn {
    width: 50px;
    height: 50px;
    &-burger {
      width: 30px;
      height: 3px;
      box-shadow: 0 5px 8px $-box-shadow-color;
    }
    &-burger::before,
    &-burger::after {
      width: 30px;
      height: 3px;
      box-shadow: 0 5px 8px $-box-shadow-color;
    }
    &-burger::before {
      transform: translateY(-10px);
    }

    &-burger::after {
      transform: translateY(10px);
    }
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90px 90vh auto auto auto auto;
    grid-template-areas:
      'header header header'
      'headboard headboard headboard'
      'about about about'
      'portfolio portfolio portfolio'
      'contact-form contact-resources hidden'
      '. . footer';
  }

  .portfolio {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'port-1 port-2'
      'port-3 port-4'
      'port-5 port-6';
    div:nth-child(even) {
      flex-direction: row-reverse;
    }
    img {
      max-height: 300px;
      width: 50%;
    }
    .port-6 {
      border-bottom: 1px solid $-box-shadow-color;
    }
  }
}
