.about {
  grid-area: about;
  padding: 350px 15px 300px;
  font-size: 1em;
  h3 {
    font-family: $-font-titles;
    text-align: center;
    font-size: 2em;
    transform: translateX(-26%);
    margin-bottom: 40px;
  }
  p {
    font-family: $-font-text;
    line-height: 1.75;
    &:hover {
      cursor: default;
    }
  }
  img {
    border-radius: 50%;
    width: 250px;
    margin: 0 10px 10px 0;
    float: left;
    shape-outside: circle(50%);
    transition: all 1s 0.2s;
    &:hover {
      cursor: default;
    }
  }
}
