.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $-background-color;
  min-width: 160px;

  width: 20vw;
  max-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 0.8s linear;
  border-radius: 5px;
}
.dropdown-content a {
  color: rgba(255, 101, 47, 0.6);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgba(69, 93, 129, 0.3);
}

.dropdown-content.show {
  display: block;
  transform: translate(-60px, 110px);
  opacity: 1;
}
