.head-top {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  background: linear-gradient($-background-color, transparent);
}

header {
  position: sticky;
  top: 0;
  grid-area: header;
  font-family: $-font-text;
  z-index: 10;
  color: $-font-titles-color;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 30px;
  }
}

.title {
  font-size: 0.85em;
  max-width: 30%;
  margin-left: auto;
  margin-right: 25px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-right: 15px;
  &-burger {
    width: 18.75px;
    height: 2px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 3px $-box-shadow-color;
    transition: all 0.5s ease-in-out;
  }
  &-burger::before,
  &-burger::after {
    content: '';
    position: absolute;
    width: 18.75px;
    height: 2px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 3px $-box-shadow-color;
    transition: all 0.5s ease-in-out;
  }
  &-burger::before {
    transform: translateY(-6px);
  }

  &-burger::after {
    transform: translateY(6px);
  }

  &.open &-burger {
    transform: translateX(-15px);
    background: transparent;
    box-shadow: none;
  }
  &.open &-burger::before {
    transform: rotate(45deg) translate(10.5px, -10.5px);
  }
  &.open &-burger::after {
    transform: rotate(-45deg) translate(10.5px, 10.5px);
  }
}

.nav-container {
  display: none;
}

.headboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  grid-area: headboard;
  background: linear-gradient(
      $-background-color,
      transparent,
      $-background-color
    ),
    url(https://source.unsplash.com/random/3000x2000) no-repeat center center
      fixed;
  background-size: cover;
  color: $-arrow-color;
  font-size: 6em;
  font-family: $-font-arrow;
}

#arrow {
  &:hover {
    transform: scale(1.1);
    cursor: default;
  }
}
